@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300);
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?q23mq');
  src: url('../fonts/icomoon.eot?q23mq#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?q23mq') format('truetype'), url('../fonts/icomoon.woff?q23mq') format('woff'), url('../fonts/icomoon.svg?q23mq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\e900";
}
.icon-facebook2:before {
    content: "\e901";
}
.icon-instagram:before {
    content: "\e902";
}
.icon-github:before {
    content: "\e903";
}
.icon-linkedin:before {
    content: "\e904";
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans","Arial",sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

a:hover {
  cursor: pointer;
}
.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.page-wrap {
    -webkit-transition: all 250ms cubic-bezier(0.25,0.46,0.45,0.94);
    -moz-transition: all 250ms cubic-bezier(0.25,0.46,0.45,0.94);
    transition: all 250ms cubic-bezier(0.25,0.46,0.45,0.94);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    background: #fff;
    min-height: 100%;
    position: relative;
    z-index: 2;
}

.home-header {
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 550px;
  overflow: hidden;
  display: block;
  position: relative;
}

.home-header:before {
    content: "";
    display: block;
    padding-bottom: 50%;
}

.home-header .home-header-wrap {
    background: rgba(0,0,0,0.15);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.home-header .home-header-content {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.home-header .home-nav {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
    height: 60px;
    width: 100%;
    line-height: 60px;
    padding: 0 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}

.home-header .home-nav .navburger {
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
    color: #fff;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 40px;
    text-decoration: none;
}

.home-header .home-nav .home-nav-items {
    color: #fff;
    float: right;
    list-style-type: none;
    padding: 0;
}

.home-header .home-nav .home-nav-items li {
    display: inline-block;
    font-size: .70rem;
    margin-right: 25px;
    text-shadow: 0 0 8px #fff;
    text-transform: uppercase;
}

.home-header .home-nav .home-nav-items li a {
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
    border-bottom: 1px solid rgba(255,255,255,0);
    color: #fff;
    letter-spacing: 0.2rem;
    padding-bottom: 4px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.home-nav-items li a:after {
  -webkit-transition: width 350ms cubic-bezier(0.3,0,0,1.3);
  -moz-transition: width 350ms cubic-bezier(0.3,0,0,1.3);
  transition: width 350ms cubic-bezier(0.3,0,0,1.3);
  height: 1px;
  width: 0px;
  background: rgba(255,255,255,0.65);
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
}

.home-nav-items li a:hover:after {
  width: 95%;
}

.home-header h1 {
  font-size: 4rem;
}

.home-header p {
  font-size: 1rem;
}

.home-header h1, .home-header p, .home-section h3 {
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.08em;
    margin: 0;
    width: 100%;
    text-shadow: 0 0 8px #fff;
}


.home-section {
  clear: both;
  width: 100%;
  min-height: 450px;
}

.about {
  background-image: url('../images/map.PNG');
  background-size: cover;
  background-repeat: no-repeat;
}

.home-section .home-section-content {
    overflow: hidden;
    padding: 70px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-section .home-section-content .left {
    float: left;
}

.home-section .home-section-content .right {
    float: right;
}

.home-section .home-section-content .section-text-block {
    width: 34%;
}

.project-wrapper {
  margin-top: 100px;
}

.flo-chart, .plant, .contact-info-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plant {
  margin-top: 175px;
}

.project-desc {
  max-width: 40%;
  text-align: left;
}

.project-desc-alt {
  max-width: 40%;
  text-align: right;
}

.flo-chart-image, .plant-image {
  max-width: 40%;
  border-radius: 3px;
  box-shadow: 0px 0px 3px  #fff;
  margin-top: 40px;
}




.project-header {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.08em;
  font-size: 1.8rem;
  text-shadow: 0 0 8px #fff;
}

.project-content h3, .contact-info h3 {
  font-size: 4rem;
}

.home-section .home-section-content .section-text-block h2 {
    color: #196576;
    font-size: 3rem;
    font-weight: normal;
}

.home-section .home-section-content .section-text-block p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
}

.headshot {
border-radius: 50%;
box-shadow: 0 0 8px #bfbfbf;
}

.projects {
    background-color: #2E7884;
    background-image: -webkit-linear-gradient(#2E7884,#124459);
    background-image: linear-gradient(#2E7884,#124459);
    color: #fff;
        padding-bottom: 100px;
}

.home-section .project-content {
  text-align: center;
  padding-top: 40px;
}

.tech-used {
  list-style-type: none;
  font-size: .8rem;
  padding-left: 0;
}

.tech-used li {
    display: inline-block;
    color: #2E7884;
    background-color: #fff;
    border-radius: 5px;
    padding: 4px 7px;
    margin: 5px;
}

.home-section .contact {
  margin: 0 auto;
}

.contact {
  background-image: url('../images/map.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

.contact-info {
  text-align: center;
}

.contact-info h2 {
  color: #196576;
  font-size: 3rem;
  font-weight: normal;
  margin-top: 0;
}


form {
  display: inline-block;
  text-align: left;
	margin-top: 20px;
}
  form input, form textarea, #sendMessage {
    padding: 10px;
		font-family: "Work Sans","Arial",sans-serif;
    background: #2E7884;
		border: 1px solid #fff;
		border-radius: 3px;
    outline: none;
    color: #fff;
    margin-bottom: 20px;
    box-sizing: border-box; }

		form input:focus, form textarea:focus {
		 	border: 1px solid #124459;
		}

		form input {
    display: inline-block;
		}
    form input.name, form input.email {
      width: 49%;
		}

    form input.name {
      float: left;
		}
    form input.email {
      float: right;
		}
		form input.subject {
			width: 100%;
		}

  	form textarea {
	    width: 100%;
	    min-height: 150px;
	    resize: vertical;
		}

#form {
  width: 60%;
}

		#form p {
			color: #fff;
			font-family: "Work Sans","Arial",sans-serif;
			text-align: left;
			margin-top: 20px;
			font-size: .9em;
			line-height: 1.2em;
			padding-left: 10px;
			width: 100%;
		}

		#form a {
			font-weight: bold;
			color: #124459;
      text-decoration: none;
		}

		#form a:hover {
			color: #2E7884;
		}

	.submit {
		float: right;
	}

  #social-icons {
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
  }

  .grow {
    transition: all .2s ease-in-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
.grow:hover { transform: scale(1.1);
-webkit-transform: scale(1.1); }


.footer {
  border-top: 1px solid #eee;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 74px;
  background-color: #2E7884;
  background-image: -webkit-linear-gradient(#2E7884,#124459);
  background-image: linear-gradient(#2E7884,#124459);
}

.footer-nav {
    list-style-type: none;
    float: right;
    margin-right: 30px;
    margin-bottom: 0;
}

.footer-nav li {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 10px;
}

.footer-nav a {
  text-decoration: none;
    color: #fff;
}











/**MEDIA QUERIES**/
@media only screen and (min-width: 541px) {
    .mobile-menu-wrap {
        display:none;
    }
}

@media only screen and (max-width: 540px) {
    .home-header .home-nav .navburger {
        -webkit-transform:translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        font-size: 24px;
        opacity: 1;
        pointer-events: auto;
    }

    .home-header .home-nav .logo {
        -webkit-transition:all 250ms ease;
        -moz-transition: all 250ms ease;
        transition: all 250ms ease;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
    }

    .home-header .home-nav .home-nav-items {
        display:none;
    }
}

@media only screen and (max-width: 750px) {
    .home-header .home-header-content {
        margin-top:20px;
    }

    .home-header .home-nav {
        padding: 0 20px;
    }

    .home-header .home-nav .home-nav-items li {
        font-size: 0.75rem;
        margin: 0 10px;
    }

    .home-header .home-nav .home-nav-items li:last-child {
        margin: 0;
    }

    .home-header h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .home-header h1 {
        font-size:1.5rem;
    }
}

@media only screen and (max-width: 399px) {
    .home-header .home-nav .home-nav-items li {
        font-size: 0.7rem;
        margin: 0 0 0 10px;
    }
}

@media only screen and (max-width: 890px) {
    .home-section .home-section-content .section-text-block {
        display:block;
        float: none;
        margin: 0 auto 5% auto;
        width: 80%;
    }
}
